<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <SCMUrl>https://rallyboard20260712151639-ceaefjfda2cdaggh.scm.canadacentral-01.azurewebsites.net/</SCMUrl>
    <ContainerResourceId>/subscriptions/6ecd1f3c-98a0-474a-b8ad-fb4498a9d98a/resourceGroups/RallyBoard20260708200946ResourceGroup/providers/Microsoft.ContainerRegistry/registries/RallyBoard20260708201136</ContainerResourceId>
    <ContainerResourceName>RallyBoard20260708201136</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>rallyboard20260708201136.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/6ecd1f3c-98a0-474a-b8ad-fb4498a9d98a/resourcegroups/RallyBoardUK/providers/Microsoft.Web/sites/RallyBoard20260712151639</ResourceId>
    <ResourceGroup>RallyBoardUK</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://rallyboard20260712151639-ceaefjfda2cdaggh.canadacentral-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>76412220-b803-0733-6c8c-456e542063a8</ProjectGuid>
  </PropertyGroup>
</Project>